*
{
    margin: 0;  border: 0;  border-radius: 5px;
}

body
{ font-family: 'Roboto Flex', sans-serif;
 color: white;
    background-color: black;
}
#nav
{
    margin: 10px;  padding: 10px;
}

.sections
{
    display: flex;
/* border: 2px solid black; */
    align-items: center;  flex-direction: row;
 justify-content: center;  margin: 20px;  padding: 20px;  text-align: center;
 background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
    );
    /* overflow: hidden; */
}

.class
{
    width: 50%;
    /* border: 1px solid black; */
    /* margin: 5px; */
}
/* img {
  width: 500px;
  height: 300px;
  margin: 0 auto;
  display: block;

} */

.button
{ display: block;  margin: 10px auto;

    border-radius: 5px;
}

a
{ cursor: pointer;
    text-decoration: none;
}
a:hover
{
    color: brown;
}

.heading
{
    text-align: center;
}

.customs
{ display: grid;

    margin: 20px;  padding: 10px;  text-align: center;
 grid-template-columns: 33% 33% 33%;  grid-gap: 15px;
    /* background-image: radial-gradient(circle, #6bd1c2, #6bd6bb, #71dbb2, #7bdfa6, #89e399, #89e79c, #8aea9f, #8aeea2, #7af2b7, #6cf6cb, #62f9df, #5ffbf1); */
}

h3
{ font-size: 20px;
/* color: white; */
    /* font-family: 'Caveat', cursive; */

    margin: 5px;  padding: 5px;

    text-align: center;  text-decoration: underline;
}

.logo
{
    width: 40%;  height: 50%;  object-fit: contain;
}

/* Styles for Custom Page*/

#main
{
    display: flex;  align-items: center;
 flex-direction: column;  justify-content: center;
}

.custom
{ display: flex;  align-items: center;
 flex-direction: column;  justify-content: center;  width: 50%;  margin: 10px auto;
    padding: 5px;  text-align: center;
}

footer
{
    text-align: center;
}

lottie-player
{
    margin: 0 auto;
}

#intro
{ font-family: 'DM Sans', sans-serif;  font-size: 18px;  margin: 30px;  padding: 10px;

    text-align: center;
}

.night-mode
{ color: black;
    background-color: white; 
}

.info
{
    display: flex;  align-items: center;
 flex-direction: column;  justify-content: center;
}

.btn-toggle
{ margin-top: 8px;

    border-radius: 5px;
}


.navlink > a
{ padding-right: 30px;
    padding-left: 30px;
}
.navlink > a
{ margin-right: 30px;
    margin-left: 30px;
}

#footer
{
    display: block;  width: 50%;  margin: 10px auto;  background-image: linear-gradient(
    to right top,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #a8eb12
    );
}

.my-footer
{
    margin-top: 10px;
}

h5
{ font-family: 'Roboto Flex', sans-serif;
    font-size: 16px;  margin-top: 5px;
}

.logo-nav
{
    width: 80%;  height: 50%;  object-fit: contain;
}
